.receipt {
  color: rgb(36, 179, 119);
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.withdrawal {
  color: rgb(29, 29, 31);
  font-family: "Jost";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
